services:
    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\ArrayStructTypeResolver

    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\ObjectStructTypeResolver

    -
        class: Le0daniel\Assertions\PhpStan\ExecuteReturnTypeExtension
        arguments:
            resolvers:
                - @Le0daniel\Assertions\PhpStan\Resolvers\ArrayStructTypeResolver
                - @Le0daniel\Assertions\PhpStan\Resolvers\ObjectStructTypeResolver
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\ArrayShapeTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\ObjectShapeTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\TransformTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\LiteralTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\UnionTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\TupleTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Assertions\PhpStan\Resolvers\DiscriminatedUnionTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Assertions\PhpStan\ClosureParameterTypeExtension
        tags:
            - phpstan.staticMethodParameterClosureTypeExtension
