services:
    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\ArrayStructTypeResolver

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\ObjectStructTypeResolver

    -
        class: Le0daniel\Ztan\PhpStan\ExecuteReturnTypeExtension
        arguments:
            resolvers:
                - @Le0daniel\Ztan\PhpStan\Resolvers\ArrayStructTypeResolver
                - @Le0daniel\Ztan\PhpStan\Resolvers\ObjectStructTypeResolver
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\ArrayShapeTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\ObjectShapeTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\TransformTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\LiteralTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\UnionTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\TupleTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\DiscriminatedUnionTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\InferredTemplateStaticCallResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\InferredTemplateMethodResolver
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\CoerceBuilderMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\ZtanStaticMethodReturnTypeExtension
        arguments:
            arrayShapeResolver: @Le0daniel\Ztan\PhpStan\Resolvers\ArrayShapeTypeConstructorResolver
            objectShapeResolver: @Le0daniel\Ztan\PhpStan\Resolvers\ObjectShapeTypeConstructorResolver
            unionResolver: @Le0daniel\Ztan\PhpStan\Resolvers\UnionTypeConstructorResolver
            tupleResolver: @Le0daniel\Ztan\PhpStan\Resolvers\TupleTypeConstructorResolver
            discriminatedUnionResolver: @Le0daniel\Ztan\PhpStan\Resolvers\DiscriminatedUnionTypeConstructorResolver
            literalResolver: @Le0daniel\Ztan\PhpStan\Resolvers\LiteralTypeConstructorResolver
            inferredTemplateResolver: @Le0daniel\Ztan\PhpStan\Resolvers\InferredTemplateStaticCallResolver
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\ArrayShapeTypeMethodResolver
        arguments:
            constructorResolver: @Le0daniel\Ztan\PhpStan\Resolvers\ArrayShapeTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Resolvers\ObjectShapeTypeMethodResolver
        arguments:
            constructorResolver: @Le0daniel\Ztan\PhpStan\Resolvers\ObjectShapeTypeConstructorResolver
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Le0daniel\Ztan\PhpStan\Rules\ExtendOmitArgumentRule
        tags:
            - phpstan.rules.rule

    -
        class: Le0daniel\Ztan\PhpStan\ClosureParameterTypeExtension
        tags:
            - phpstan.staticMethodParameterClosureTypeExtension
